body {
	font-family: 'Roboto', sans-serif;
	color: #333; 
}

/* image is so large that it forces browser to scroll horizontaly; global css rule to fix that */

img {		
	max-width: 100%;
	height: auto;
}

* {
/* browsers will accept declared width-values */
	box-sizing: border-box; 
}

a {
	color: $mainOrange; 
}